yabause/src/android/res/values/security.xml
/.gradle/
/local.properties
.DS_Store
*.iml
build/
/*build/
**/*build/*
*.a
*.so
*.swp
*.o
yabause/*build*/*
yabause/ax86_64/*
yabause/src/qt/firebase_cpp_sdk/*
yabause/src/android/.settings/*
yabause/src/android/app/.settings/*
build*/
yabause/src/ios/uoyabause/secrets.plist
yabause/src/ios/uoyabause/uoyabause/GoogleService-Info.plist
yabause/src/ios/uoyabause/uoyabause/GoogleService-Info-main.plist
yabause/src/ios/uoyabause/uoyabause/GoogleService-Info-lite.plist
**/Pods/*
.aider*
.aider*/*
bin*/*
yabause/src/qt/firebase_cpp_sdk*/*
**/._.DS_Store/*
